const styles = StyleSheet.create({
  container: {
    flex: 1,
    backgroundColor: 'black'
  },
  camera: {
    flex: 1
  },
  scanFrame: {
    position: 'absolute',
    top: '25%',
    left: '10%',
    width: '80%',
    height: '40%',
    borderWidth: 2,
    borderColor: 'yellow'
  },
  controls: {
    position: 'absolute',
    bottom: 30,
    width: '100%',
    alignItems: 'center'
  },
  capture: {
    backgroundColor: '#ff9800',
    padding: 15,
    borderRadius: 10
  },
  captureText: {
    color: 'white',
    fontWeight: 'bold'
  },
  counter: {
    marginTop: 10,
    color: 'white'
  },
  center: {
    flex: 1,
    justifyContent: 'center',
    alignItems: 'center'
  },
  button: {
    marginTop: 10,
    color: 'blue'
  }
});
